apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app-blue
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-app
      version: blue
  template:
    metadata:
      labels:
        app: devops-app
        version: blue
    spec:
      containers:
        - name: app
          image: devops-app:1.0.0
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /ready
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
