apiVersion: v1
kind: Service
metadata:
  name: devops-app-svc
spec:
  type: NodePort
  selector:
    app: devops-app
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 5000
      nodePort: 30080
