apiVersion: v1
kind: Pod
metadata:
  name: devops-app
  labels:
    app: devops-app
spec:
  restartPolicy: Never
  containers:
    - name: app
      image: devops-app:1.0.0
      ports:
        - containerPort: 5000
      env:
        - name: APP_ENV
          value: development
